<div id="anim">
  <div id="sliderFrame" >
    <div id="slider" >
      <img src="/assets/banner/image_banner.jpg" alt="Welcome to Menucool Video Slider" />
      <a class="video" href="http://www.youtube.com/watch?v=cY-pM8jYidU">
        <img src="/assets/banner/image_banner2.jpg" alt="" />
      </a>
      <a class="video" href="http://www.youtube.com/watch?v=P0G_2tiivxE">
        <img src="/assets/banner/image_banner3.jpg" />
      </a>
      <img src="/assets/banner/image_banner4.jpg" />
      <a class="video" href="http://www.youtube.com/watch?v=P0G_2tiivxE" autoPlayVideo="false">
        <img src="/assets/banner/image_banner5.jpg" />
      </a>
    </div>
  </div>
  <div class="spacer"></div>
</div>

<div id="main_content">
  <div class="two_col">
    <div class="h_gallery">
      Photo Gallery
      <span class="ralign"><a href="#">Click for more</a></span>
    </div>
    <div class="box_gallery lalign">
      <div class="ph_gall">
        <img src="/assets/home/box1.jpg" alt=""/>
        <div class="box_caption">March Events</div>
      </div>
    </div>
    <div class="box_gallery lalign_ph">
      <div class="ph_gall">
        <img src="/assets/home/box2.jpg" alt=""/>
        <div class="box_caption">April Events</div>
      </div>
    </div>
    <div class="box_gallery lalign">
      <div class="ph_gall">
        <img src="/assets/home/box3.jpg" alt=""/>
        <div class="box_caption">Akhanda Tulasi Ramayana Parayanam</div>
      </div>
    </div>
    <div class="box_gallery lalign_ph">
      <div class="ph_gall">
        <img src="/assets/home/box4.jpg" alt=""/>
        <div class="box_caption">Sri Rama Navami Celebrations</div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>

  <div class="one_col">
    <div class="h_gallery">
      Video Gallery
      <span class="ralign"><a href="#">Click for more</a></span>
    </div>
    <div class="box_gallery">
      <div class="ph_gall">
        <iframe width="310" height="205" src="http://www.youtube.com/embed/zzaxGtQb-2s" frameborder="0" Style="z-index:-1" allowfullscreen></iframe>

      </div>
      <div class="box_caption">Sri Rama Navami Celebrations</div>
    </div>
    <div class="box_gallery">
      <div class="ph_gall">
        <object width="310" height="205" Style="z-index:-1">
          <param name="movie" value="http://www.youtube.com/v/Zy6KHyFVBuY?version=3&amp;hl=en_US&amp;rel=0"></param>
          <param name="allowFullScreen" value="true"></param>
          <param name="allowscriptaccess" value="always"></param>
          <embed src="http://www.youtube.com/v/Zy6KHyFVBuY?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="310" height="205" allowscriptaccess="always" allowfullscreen="true"></embed>
        </object>
        <!---
            <img src="/images/vg_box1.jpg" alt=""/>
            <div class="box_caption">Sri Rama Navami Celebrations</div>
        --->
        <div class="box_caption">Sri Rama Navami Celebrations</div>

      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>

<div id="maintainance_content">
  <div id="acc_details">
    <div class="hclass">Something</div>
    <!---	<div class="inner_box">
            <form action="/login" method="post">
                <input type="text" name="user[email]" placeholder="Username Or e-mail">
                <input type="password" name="user[pwd]" placeholder="Password">
                <button class="log_button" type="submit" >Login</button>
            </form>
            <a href="#">Create new account</a>
            <a href="#">Request new password</a>
        </div> --->
  </div>
  <div id="self_details">
    <div class="hclass">ICCT Poshakaas</div>
    <div class="inner_box">
      <div class="colored_heading">Poshaka Chakravarthi 2013:</div>
      <p>Sita and Ram Murthy Achanta, Vasundhara and Hemchand Bolla, Anantha Vijaya and Raman Desikan, Vijaya and Prasad Duggirala, Suneela and Raju Jampana, Kamala and Someswara Reddy Karri, Vanisri and Nagendra Srinivas Kodali Jaya and K.B. Ramanathan, Kalyani and Srinivas Ravi, Subbu Lakshmi and Sridhar Rayudu</p>
      <div class="colored_heading">Poshaka Samrat 2013</div>
      <p>Meenakshi & Rajagopalan</p>

      <div class="colored_heading">Rajadhi Raja Poshakas 2013</div>
      <p>Sailaja & Sreedhar Veeravalli, Priyanka & Ramakanth Mulay</p>
      <a href="#">Click for more details</a>
    </div>
  </div>
  <div id="timing_details">
    <div class="hclass">Temple Timings &amp; Contact Info</div>
    <div class="inner_box">
      <div class="block1">
        <div class="colored_heading">Mon - Fri:</div>
        <p>
          <span>8:00 AM - 12:00 PM</span>
          <span>5:00 PM - 8:00 PM</span>
        </p>
        <div class="colored_heading">Sat - Sun:</div>
        <p>
          <span>8:00 AM - 8:00 PM</span>
        </p>
        <div class="colored_heading">Address</div>
        <p>
          <span>12005, Hwy 64 E.</span>
          <span>Eads, TN - 38028</span>
        </p>
        <p>Phone: 901-202-6070</p>
        <p>Email: icct@icctmemphis.org</p>
      </div>
      <div class="block2">
        <img src="/assets/home/loc_map.jpg"/>
        <a href="#">Click here for Directions</a>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>
<div class="spacer"></div>
