<div id="footer">
  <div id="footer_section1">
    <div class="heading">Sign Up for ICCT Newsletter</div>
    <div class="info">
      Subscribe to our free daily, weekly email newsletters delivered straight to your inbox.
    </div>
    <div id="enquiry">
      <input type="text" id="subscribeEmail" name="txt_email" placeholder="Enter Your Email Address">
      <button id="btn_go">GO</button>
    </div>
  </div>
  <div id="footer_section2">
    &copy; 2013 India Cultural Center and Temple, Inc. All Rights Reserved;<br/>No part of this site should be used in any other media without prior permission.
    <p>PRIVACY POLICY</p>
    <ul>
      <li>
        <span class="icon mail"></span><a href="#"></a>
      </li>
      <li>
        <span class="icon rss"></span><a href="#"></a>
      </li>
      <li>
        <span class="icon twitter"></span><a href="#"></a>
      </li>
    </ul>
  </div>
  <div class="spacer"></div>
</div>
</div> <!--- footer --->
<div class="spacer"></div>
</div>
